[Unit]
Description=Backup ipip platform
ConditionFileIsExecutable=/path/to/backup-claroline.sh

[Service]
Type=oneshot
ExecStart=/path/to/backup-claroline.sh

[Install]
WantedBy=multi-user.target
