[Unit]
Description=Backup ipip platform
ConditionFileIsExecutable=/path/to/backup-claroline.sh
After=mariadb.service

[Service]
Type=oneshot
ExecStart=/path/to/backup-claroline.sh %i

[Install]
WantedBy=multi-user.target
